*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
}

header{
    grid-area: header;
    background-color: aqua;
}
nav{
    display: flex;
    justify-content: space-around;
}

section > ul > li{
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
}
main{
    grid-area: main;
    background-color: blueviolet;
    display: flex;
}
footer{
    grid-area: footer;
    background-color: burlywood;
}